.wrap{
	width:960px;
	margin-left: auto;
	margin-right: auto;
}

body{
	height:2000px;
	transition:.7s;
}
body.side-active{
	transform:translate(200px);
	-webkit-transform:translate(200px);
}



.navbar .menu{
	float: left;
	margin:10px 0 0 20px;
}
.navbar .glyphicon{
	color:#777;
}


.side-bar{
	position:fixed;
	width:200px;
	top:0;
	left:-200px;
	height:100%;
	background:#222;
}