<!DOCTYPE html>
<html>

<head>
    <title>cZone 
    </title>
    <meta charset="utf-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/all.js"></script>
</head>

<body>
    
 
    <div class="container login-wrap">
    <form action="/admin_login" class="form-signin" role="form" method="post">
        <h2 class="form-signin-heading">用户登录</h2>
        <input type="text" class="form-control" name="loginname" placeholder="请输入用户名" required autofocus>
        <div style="height:10px;clear:both;display:block"></div>
        <input type="password" class="form-control" name="pass" placeholder="请输入密码" required>
        <div style="height:10px;clear:both;display:block"></div>
        <div class="row code">
            <label for="" class="code-label">验证码</label>
            <div class="col-sm-9">
                <input type="text" class="form-control code-txt" placeholder="请输入验证码">
                <img src="dd" alt="" class="code-img">
            </div>
        </div>
        <!-- /*
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me">记住登录状态
            </label>
        </div>
        -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>
</div>
<script>
    <%  if(error){%>
        alert('登录失败：<%= error %>' ); 
    <%} %>
</script>

<section class="side-bar"></section>
<script>
var $menu = $('.navbar').find('.menu');
$menu.on('click', function() {
    $('body').toggleClass('side-active');
})
</script>
</body>
</html>

