<!DOCTYPE html>
<html>
<head>
    <title>cZone</title>
    <meta charset="utf-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css" rel="stylesheet">
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <section class="wrap">
        <h1 class="title">管理员列表</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>用户名</th>   
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function (user, index) { %>
                    <tr class="<% if(index %2 == 0){ %>
                        success
                     <% }else{ %>       
                        warning
                     <%} %>">
                        <td><%= index + 1 %></td>
                        <td><%= user.name%></td>
                        <td>
                            
                        </td>
                    </tr>
                <% }) %>
                <% if(users.length == 0){ %>
                    <tr class="success">
                        <td colspan="3" style="text-align:center;">当前没有数据...</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </section>
    <script>
    <%
    if (success) { %>
        alert('<%=success%>'); <%
    } else if (error) { %>
        alert('操作失败：<%= error %>'); <%
    } %>
    </script>
</body>
</html>
