<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>404 Not Found!</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/404/404.css">
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/404/scriptalizer.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(function() {
        $('#parallax').jparallax({});
    });
    </script>
</head>

<body>
    <div id="content" class="narrowcolumn">
        <div id="parallax">
            <div class="error1" style="position: absolute; left: 49.9230769230769%; margin-left: -646.503846153846px; top: 75%; margin-top: -521.25px;">
                <img src="/404/wand.jpg" alt="Mauer">
            </div>
            <div class="error2" style="position: absolute; left: 49.9230769230769%; margin-left: -499.230769230769px; top: 75%; margin-top: -468.75px;">
                <img src="/404/licht.png" alt="Licht">
            </div>
            <div class="error3" style="position: absolute; left: 49.9230769230769%; margin-left: -299.538461538462px; top: 75%; margin-top: -360px;">
                <img src="/404/halo1.png" alt="Halo1">
            </div>
            <div class="error4" style="position: absolute; left: 49.9230769230769%; margin-left: -349.461538461538px; top: 75%; margin-top: -360px;">
                <img src="/404/halo2.png" alt="Halo2">
            </div>
            <div class="error5" style="position: absolute; left: 49.9230769230769%; margin-left: -634.023076923077px; top: 75%; margin-top: -517.5px;">
                <img src="/404/batman-404.png" alt="Batcave 404">
            </div>
        </div>
        <div class="footer-banner" style="width:728px; margin:0 auto">
            <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-0608155192548477" data-ad-slot="8305246055"></ins>
        </div>
    </div>
</body>

</html>
