<% if(link.length){ %>
    <section class="link wrap">
        <span class="link-pre">友情链接：</span>
<% } %>
<% link.forEach(function(l){ %>
<a href="<%= l.url %>" target="_blank"><%= l.name %></a>
<% })%>
<% if(link.length){ %>
    </section>
<% } %>
<footer>
    作者：<%= sys.author %> &nbsp;&nbsp;&nbsp;&nbsp;QQ：<%= sys.qq %>
</footer>
<section class="side-bar"></section>
<script>
var $menu = $('.navbar').find('.menu');
$menu.on('click', function() {
    $('body').toggleClass('side-active');
})
</script>
</body>
</html>