<section class="link wrap">
        <span class="link-pre">友情链接：</span>
        <a href="#">百度</a>
        <a href="#">百度</a>
        <a href="#">百度</a>
        <a href="#">百度</a>
        <a href="#">百度</a>
        <a href="#">百度</a>
    </section>
    <footer>
        author：cxl &nbsp;&nbsp;&nbsp;&nbsp;QQ：464896740
    </footer>
    <section class="side-bar"></section>
    <script>
    var $menu = $('.navbar').find('.menu');
    $menu.on('click', function() {
        $('body').toggleClass('side-active');
    })
    </script>
</body>

</html>