<%- include header.html %>
	<section class="main container wrap">
        <div class="row main-wrap">
            <div class="col-sm-8 main-left">     
				<% topics.forEach(function (topic, index) { %>
                <%
                    var href = '';
                    if(topic.address){
                        href = '/html/' + topic.address;
                    }else{
                        href = '/topic/' + topic.id;
                    }
                %>
				  <div class="article-item">
                    <a href="<%= href %>">
                        <h4 class="article-title">
                            <%= topic.title %>
                        </h4>
                    </a>
                    <div class="article-info clearfix">
                        <a href="<%= href %>">
                            <img src="<%= topic.thumb_pic %>" alt="" class="article-img fl">
                        </a>
                        <div class="article-post fr">
                            <a href="<%= href %>">
                                <p class="article-txt">
                                	<%= topic.preview %>
                                </p>
                            </a>
                            <div class="article-author">
                                <span class="article-pre">post by</span>
                                <span class="article-name"><%= topic.author.name %></span>评论( <%= topic.reply_count %> )
                            </div>
                        </div>
                    </div>
                </div>
				<% }) %>
                <div class="article-pager">
                  <% if( pageCount > 1 ){ %>
                      <% if (!isFirstPage) { %>
                        <a href="/">首页</a>
                        <a href="?page=<%= page - 1 %>">上一页</a>
                      <% } else{%>
                        <span>首页</span>
                        <span>上一页</span>
                      <%}%>

                      <% if (!isLastPage) { %>
                        <a href="?page=<%= page + 1%>">下一页</a>
                        <a href="?page=<%= pageCount %>">尾页</a>
                      <% } else{%>
                        <span>下一页</span>
                        <span>尾页</span>
                      <% } %>
                 <% } %>
                </div>
            </div>
            <div class="col-sm-4 main-right">
              <%- include right.html %>
            </div>
        </div>
    </section>
<%- include footer.html %>