<div class="right-part count">
                  <h3 class="right-part-title">文章归档</h3>
                  <ul>
                    <li><a href="#">2014年10月(12)</a></li>
                    <li><a href="#">2014年10月(12)</a></li>
                    <li><a href="#">2014年10月(12)</a></li>
                  </ul>
              </div>

              <div class="right-part message">
                  <h3 class="right-part-title">最新留言</h3>
                  <div class="message-item">
                      <div class="message-authar clearfix">
                          <span class="fl message-name">小俊俊</span>
                          <span class="fr message-time">三天前</span>
                      </div>
                      <p class="message-info">
                        放假了发生口角化肥空间阿十分愧疚啊上课放假阿什科夫哈萨克几乎疯狂撒化肥看哈
                      </p>
                  </div>
                   <div class="message-item">
                      <div class="message-authar clearfix">
                          <span class="fl message-name">小俊俊</span>
                          <span class="fr message-time">三天前</span>
                      </div>
                      <p class="message-info">
                        放假了发生口角化肥空间阿十分愧疚啊上课放假阿什科夫哈萨克几乎疯狂撒化肥看哈
                      </p>
                  </div>
                   <div class="message-item">
                      <div class="message-authar clearfix">
                          <span class="fl message-name">小俊俊</span>
                          <span class="fr message-time">三天前</span>
                      </div>
                      <p class="message-info">
                        放假了发生口角化肥空间阿十分愧疚啊上课放假阿什科夫哈萨克几乎疯狂撒化肥看哈
                      </p>
                  </div>
              </div>