<header class="am-topbar am-topbar-inverse">
    <h1 class="am-topbar-brand">
    <a href="/">cZone</a>
  </h1>
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li class="<%=  isHome? 'active' : ''   %>"><a href="/">Home</a>
            </li>
            <% cls.forEach(function(c){%>
                <li class="<%=  tab == c.content ? 'active' : '' %>">
                    <a href="/tab/<%=c.content%>">
                        <%=c.display_name%>
                    </a>
                </li>
                <%})%>
        </ul>
        <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
            <div class="am-form-group">
                <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
            </div>
        </form>
    </div>
</header>