.wrap {
    width: 98%;
}
textarea{
	resize:none;
}
.clearfix:after{
	clear:both;
	display: block;
	content:"";
}
.title {
    margin: 10px 0;
}
.editer-wrap {
    margin-top:20px;
}
.editer-wrap>div{
	padding-left: 0;
}
#editor {
    width: 100%;
}
.Senior{
	margin: 10px 0 0 10px;
}
.Senior .col-sm-11{
	padding-left:0;
}
.publish{
	margin: 30px 0;
}
.pager{
	text-align: right;
	padding-right: 10px;
	color:#111;
}
.pager a ,.pager span{
	padding: 0 8px;
}

.pager a {
	font-weight: bold;
}