.wrap {
    width: 98%;
}
.clearfix:after{
	clear:both;
	display: block;
	content:"";
}
.title {
    margin: 10px 0;
}
.editer-wrap {
    margin-top:20px;
}
.editer-wrap>div{
	padding-left: 0;
}
#editor {
    width: 100%;
}
.Senior{
	margin: 10px 0 0 10px;
}
.Senior .col-sm-11{
	padding-left:0;
}
.publish{
	margin: 30px 0;
}